#
# Env variables for use in test cases.
# In a live environment these are stored in AWS ssm - see serverless.yml
#

STAGE=test

# Paypal Sandbox API credentials
CLIENT_ID=<insert here>
CLIENT_SECRET=<insert here>

# Encryption key (eth-crypto) for recieving api credentials 
PUBLIC_KEY=<insert here>
PRIVATE_KEY=<insert here>
